.line-container {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fafaf0;
  .line {
    min-width: 400px;
    min-height: fit-content;
  }
  .title {
    margin: 0;
    margin-top: 20px;
  }
}
