.con-model {
  margin-top: 10px;
  .select-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .yolov8-option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: default;
      .button-text {
        margin-top: 10px;
        border-color: #04aa6d;
        border-width: 2px;
        border-style: solid;
        height: 30px;
        width: 450px;
        line-height: 30px;
        border-radius: 5px;
        &.neither-nor {
          background-color: #e6e6e6;
          color: #4d4d4d;
        }
        &.hovered {
          background-color: #b3b3b3;
          color: #ffffff;
          font-weight: bold;
        }
        &.selected {
          background-color: #04aa6d;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
    .yolov8-optimized-option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: default;

      .button-text {
        margin-top: 10px;
        border-color: #04aa6d;
        border-width: 2px;
        border-style: solid;
        height: 30px;
        width: 450px;
        line-height: 30px;
        border-radius: 5px;
        &.neither-nor {
          background-color: #e6e6e6;
          color: #4d4d4d;
        }
        &.hovered {
          background-color: #b3b3b3;
          color: #ffffff;
          font-weight: bold;
        }
        &.selected {
          background-color: #04aa6d;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
    .openzoo-option1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: default;

      .button-text {
        margin-top: 10px;
        border-color: #04aa6d;
        border-width: 2px;
        border-style: solid;
        height: 30px;
        width: 450px;
        line-height: 30px;
        border-radius: 5px;
        &.neither-nor {
          background-color: #e6e6e6;
          color: #4d4d4d;
        }
        &.hovered {
          background-color: #b3b3b3;
          color: #ffffff;
          font-weight: bold;
        }
        &.selected {
          background-color: #04aa6d;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
    .openzoo-option2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: default;

      .button-text {
        margin-top: 10px;
        border-color: #04aa6d;
        border-width: 2px;
        border-style: solid;
        height: 30px;
        width: 450px;
        line-height: 30px;
        border-radius: 5px;
        &.neither-nor {
          background-color: #e6e6e6;
          color: #4d4d4d;
        }
        &.hovered {
          background-color: #b3b3b3;
          color: #ffffff;
          font-weight: bold;
        }
        &.selected {
          background-color: #04aa6d;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
}
