.newPassRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 20rem;
  margin: auto;
  .titleNewPass {
    font-size: 24;
    font-weight: bold;
    color: gray;
    margin: 10;
  }
}

.text {
  color: "gray";
  margin-top: 10px;
}

.link {
  color: #fdb075;
}

.signInLogo {
  width: 50%;
  max-width: 200px;
  max-height: 200px;
}
