.arc-container {
  background-color: #f5f5dc;
  padding: 30px;
  border-radius: 10px;
  .CircularProgressbar {
    height: 150px;
    width: 150px;
  }

  .title {
    margin: 0;
    color: #6f4d38;
  }
}
